In [2]:
# Dependencies
import pandas as pd

In [5]:
# load CSV
survey_csv = pd.read_csv("Resources/2016-FCC-New-Coders-Survey-Data.csv")

/Users/mikenlee/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (21,57) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [ ]:
# Read with pandas

In [56]:
# Inspect all columns
survey_csv.dtypes
# survey_csv.head()
survey_csv.describe()

# Remove the rows with missing data
survey_csv = survey_csv.dropna(how="all")

In [94]:
# Extract only columns 0, 1, 2, 3, 4, 7, 8, 9, 10,11, 29, 30, 32, 36, 37, 45, 48, 56, 110, 111
survey_df = survey_csv.iloc[:, [0, 1, 2, 3, 4, 7, 8, 9, 10,11, 29, 30, 32, 36, 37, 45, 48, 56, 110, 111]]
# survey_df["AttendedBootcamp"].dtypes
# survey_df["AttendedBootcamp"].value_counts()
# survey_df["AttendedBootcamp"].unique()
# for col in survey_df:
#     print(col, survey_df[col].unique())

In [95]:
# Change "0" to "No" and "1" to "Yes" in response columns
response_cols = ["AttendedBootcamp", "BootcampFinish", "BootcampFullJobAfter", "BootcampLoanYesNo", "BootcampRecommend", "HasChildren" ]
survey_df[response_cols] = survey_df[response_cols].replace({0.0 : "No", 1.0 : "Yes"})

In [96]:
# test the response replacement
# survey_df.loc[survey_df["AttendedBootcamp"] == "Yes"]
# survey_df.loc[survey_df["AttendedBootcamp"].isna() == True, :]

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampPostSalary,BootcampRecommend,ChildrenNumber,CityPopulation,CodeEventBootcamp,CountryLive,EmploymentField,EmploymentStatus,Gender,HasChildren,HoursLearning,Income,JobRoleInterest,SchoolDegree,SchoolMajor
93,32.0,Yes,Yes,No,No,NaN,No,NaN,"between 100,000 and 1 million",NaN,United States of America,"arts, entertainment, sports, or media",Self-employed business owner,male,NaN,20.0,67000.0,NaN,bachelor's degree,Biology
97,26.0,Yes,Yes,Yes,No,45000.0,No,NaN,more than 1 million,NaN,United States of America,software development,Employed for wages,male,No,10.0,40000.0,NaN,master's degree (non-professional),Music
130,41.0,Yes,Yes,Yes,Yes,75000.0,Yes,3.0,"less than 100,000",NaN,United States of America,software development,Employed for wages,male,Yes,30.0,75000.0,NaN,"some college credit, no degree",NaN
159,26.0,Yes,Yes,No,No,NaN,No,NaN,"between 100,000 and 1 million",NaN,United States of America,NaN,Not working and not looking for work,female,NaN,30.0,NaN,Full-Stack Web Developer,"some college credit, no degree",NaN
188,24.0,Yes,No,NaN,Yes,NaN,No,NaN,"between 100,000 and 1 million",NaN,Canada,NaN,Not working but looking for work,female,NaN,60.0,NaN,NaN,"some college credit, no degree",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15539,39.0,Yes,Yes,Yes,Yes,NaN,Yes,NaN,more than 1 million,NaN,Mexico,NaN,Self-employed freelancer,female,NaN,15.0,36000.0,Full-Stack Web Developer,"some college credit, no degree",NaN
15540,24.0,Yes,Yes,Yes,Yes,NaN,No,NaN,more than 1 million,NaN,Kenya,"arts, entertainment, sports, or media",Employed for wages,female,NaN,10.0,16800.0,NaN,bachelor's degree,Computer Systems Networking and Telecommunicat...
15541,23.0,Yes,Yes,Yes,No,21600.0,Yes,NaN,more than 1 million,NaN,Mexico,software development and IT,Employed for wages,male,NaN,24.0,42000.0,NaN,master's degree (non-professional),Computer Software Engineering
15593,29.0,Yes,No,NaN,No,NaN,No,NaN,more than 1 million,NaN,India,software development and IT,Employed for wages,female,No,5.0,200000.0,NaN,bachelor's degree,Accounting
15600,28.0,Yes,Yes,Yes,No,36000.0,Yes,NaN,"between 100,000 and 1 million",NaN,United States of America,software development and IT,Employed for wages,female,NaN,8.0,200000.0,NaN,bachelor's degree,Marketing

In [155]:
# Calculate total number of respondents in survey
total_respondents = len(survey_df.index)
total_respondents

15620

In [97]:
# Extract rows corresponding only to people who attended a bootcamp
attended_df = survey_df.loc[survey_df["AttendedBootcamp"] == "Yes"]
attended_df

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampPostSalary,BootcampRecommend,ChildrenNumber,CityPopulation,CodeEventBootcamp,CountryLive,EmploymentField,EmploymentStatus,Gender,HasChildren,HoursLearning,Income,JobRoleInterest,SchoolDegree,SchoolMajor
93,32.0,Yes,Yes,No,No,NaN,No,NaN,"between 100,000 and 1 million",NaN,United States of America,"arts, entertainment, sports, or media",Self-employed business owner,male,NaN,20.0,67000.0,NaN,bachelor's degree,Biology
97,26.0,Yes,Yes,Yes,No,45000.0,No,NaN,more than 1 million,NaN,United States of America,software development,Employed for wages,male,No,10.0,40000.0,NaN,master's degree (non-professional),Music
130,41.0,Yes,Yes,Yes,Yes,75000.0,Yes,3.0,"less than 100,000",NaN,United States of America,software development,Employed for wages,male,Yes,30.0,75000.0,NaN,"some college credit, no degree",NaN
159,26.0,Yes,Yes,No,No,NaN,No,NaN,"between 100,000 and 1 million",NaN,United States of America,NaN,Not working and not looking for work,female,NaN,30.0,NaN,Full-Stack Web Developer,"some college credit, no degree",NaN
188,24.0,Yes,No,NaN,Yes,NaN,No,NaN,"between 100,000 and 1 million",NaN,Canada,NaN,Not working but looking for work,female,NaN,60.0,NaN,NaN,"some college credit, no degree",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15539,39.0,Yes,Yes,Yes,Yes,NaN,Yes,NaN,more than 1 million,NaN,Mexico,NaN,Self-employed freelancer,female,NaN,15.0,36000.0,Full-Stack Web Developer,"some college credit, no degree",NaN
15540,24.0,Yes,Yes,Yes,Yes,NaN,No,NaN,more than 1 million,NaN,Kenya,"arts, entertainment, sports, or media",Employed for wages,female,NaN,10.0,16800.0,NaN,bachelor's degree,Computer Systems Networking and Telecommunicat...
15541,23.0,Yes,Yes,Yes,No,21600.0,Yes,NaN,more than 1 million,NaN,Mexico,software development and IT,Employed for wages,male,NaN,24.0,42000.0,NaN,master's degree (non-professional),Computer Software Engineering
15593,29.0,Yes,No,NaN,No,NaN,No,NaN,more than 1 million,NaN,India,software development and IT,Employed for wages,female,No,5.0,200000.0,NaN,bachelor's degree,Accounting
15600,28.0,Yes,Yes,Yes,No,36000.0,Yes,NaN,"between 100,000 and 1 million",NaN,United States of America,software development and IT,Employed for wages,female,NaN,8.0,200000.0,NaN,bachelor's degree,Marketing

In [167]:
# Calculate average age of attendees
avg_age = attended_df["Age"].mean()
# attended_df["Age"].max()

# Calculate how many people attended a bootcamp
total_attendees = attended_df["AttendedBootcamp"].count()

# Calculate how many attendees hold degrees. (Assumed associates and higher)
degrees = ["bachelor's degree", "master's degree (non-professional)",
       'professional degree (MBA, MD, JD, etc.)', "associate's degree", 'Ph.D.']
degree_attendees = attended_df["SchoolDegree"].isin(degrees).sum()

# Count number of attendees who self-identify as male; female; or are of non-binary gender identification
attended_df["Gender"].value_counts()
male_attendees = attended_df["Gender"].loc[attended_df["Gender"] == "male"].count()
female_attendees = attended_df["Gender"].loc[attended_df["Gender"] == "female"].count()

self_id = ["genderqueer", "trans", "agender"]
selfid_attendees = attended_df["Gender"].isin(self_id).sum()
total_gender_attendees = attended_df["Gender"].notna().sum()

# Calculate percentage of respondents who attended a bootcamp
attendees_perc = total_attendees / total_respondents

# Calculate percentage of respondents belonging to each gender
male_perc = male_attendees / total_gender_attendees
female_perc = female_attendees / total_gender_attendees
self_perc = selfid_attendees / total_gender_attendees

# Calculate percentage of attendees with a school degree
degree_perc = degree_attendees / total_attendees

# Calculate average post-bootcamp salary
postboot_salary = attended_df["BootcampPostSalary"].mean()
male_attendees

496

In [182]:
#defining a function to convert value into currency format
def as_currency(amount):
        return '${:,.2f}'.format(amount)

def as_percent(amount):
    return "{0:.2f}%".format(amount * 100)
    
# Create a new table consolodating above calculations
bootcamp_dict = {"Total Surveyed" : total_respondents,
"Total Bootcamp Attendees" : total_attendees,
"% Attended Bootcamp" : as_percent(attendees_perc),
"AVG Age" : round(avg_age, 2),
"Has a degree" : as_percent(degree_perc), #assumed associates degree and higher
"% Male" : as_percent(male_perc),
"% Female" : as_percent(female_perc),
"% Non Gender Specific" : as_percent(self_perc),
"AVG Post Bootcamp Salary" : as_currency(postboot_salary)}

output_df = pd.DataFrame(bootcamp_dict, index = ['i',])
output_df

,Total Surveyed,Total Bootcamp Attendees,% Attended Bootcamp,AVG Age,Has a degree,% Male,% Female,% Non Gender Specific,AVG Post Bootcamp Salary
i,15620,953,6.10%,31.07,66.84%,59.54%,39.14%,1.32%,"$63,740.51"

In [ ]:
# Improve formatting before outputting spreadsheet

In [183]:
# Export to Excel
output_df.to_csv("mini_proj_part1_output.csv", index = False, header = True)